/* GLOBAL */

* { box-sizing: border-box; }

body {
    font-family: sans-serif;
    margin: 0;
    /* overflow-wrap: break-word;
    word-wrap: break-word; */
}

a {
    text-decoration: none;
    color: #2E5458
    
}


/* HEADER */
header {
    padding: 1em 2em;
}


header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
}

header {
    background: #9FB3BF
}

/* SITE ID */
.site-id h1 {
    margin: 0;
}

/* SITE NAV */
nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-top: .6em;
}

nav li {
    margin: 0;
    list-style: none;
}

nav a {
    display: block;
    padding: 1em;
}

/* FOOTER */
footer {
    border-top: 1px solid #ddd;
    max-width: 1000px;
    margin: 0 auto;
}
footer nav ul {
    justify-content: center;
}


/* MAIN */
main {
    padding: 0 0 3em 0;
    min-height: 80vh;
}

/* SECTORS */

section {
    padding: 3em 1em;
}

/* HERO */
.hero {
    display: grid;
    align-content: center;
    text-align: center;
    min-height: 50vh;
}
.hero h2 {
    font-size: 4em;
    text-transform: uppercase;
    margin: 0 auto;
}

.hero p {
    max-width: 600px;
    margin: 1em auto;
}
.page-sub .hero {
    min-height: 30vh;
    background-color: #888;
}

.page-home .hero {
    background-image: url('../images/valley.jpg');
    background-position: center;
    background-size: cover;
    background-color: #D7D7D9;
    color: goldenrod;
}
.page-blog .hero {
    background-image: url('../images/coffee.jpg');
    background-position: center;
    background-size: cover;
    background-color: #9FB3BF;
}
.page-about .hero {
    background-image: url('../images/cloud.jpg');
    background-position: center;
    background-size: cover;
    background-color: #325927;
}
.page-books .hero {
    background-image: url('https://picsum.photos/id/159/3200/1600');
    background-position: center;
    background-size: cover;
    background-color: #325927;
}
/* Lists */
.lists {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
}

@media (max-width:767px) {
    .lists {
        grid-template-columns: 1fr 1fr;
    }
}

/*BLOG Archives */
.blog-archives {
    max-width: 600px;
    margin: 0 auto;
}
.blog-entry {
    border: 1px solid #ddd;
    padding: 2em;
    margin: 2em 0;
}
.date {
    opacity: .5;
    font-size: .8em;
}

/* Book Recommendations */
.book-archive {
    max-width: 600px;
    margin: 0 auto;
}
.book-entry {
    border: 1px solid #ddd;
    padding: 2em;
    margin: 2em 0;
}
.book-entry::after {
    content: "";
    clear: both;
    display: table;
}
.book-entry img {
    max-width: 200px;
    float: left;
    margin: 0 10px 10px 0;
}
.book-entry h3 {
    font-size: 2em
}

/* MENU BUTTON */

.menu-button {
    position: absolute;
    top: 1.5em;
    right: 4%;
    display: flex;
}

.menu-button:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .menu-button {
        top: -9999px;
        left: -9999px;
    }
}

/* NAVICON */

.navicon {
    color: rgba(255,255,255,0);
    cursor: default;
    top: 1.2em;
}

.navicon::selection {
    color: rgba(255,255,255,0);
}

.navicon:after {
    cursor: pointer;
    content: "\2630";
    font-size: 1.5em;
    color: rgba(0,0,0,1);
    display: block;
    margin-left: .5em;
    transition: .2s all ease-out;
}

.expanded .navicon:after {
    content: "\2715";
    transform: rotate(90deg);
}

/* TOGGLE NAV */

@media (max-width: 767px) {

    .toggle-nav {
        text-align: left;
    }

    .toggle-nav .site-nav ul {
        display: none;
        max-height: 0;
        overflow: hidden;
        transition: .4s all ease-out;
    }

    .toggle-nav .site-nav.expanded ul {
        display: block;
        max-height: 500px;
        transition: .8s all ease-out;
        padding-top: 2em;
    }
    
    .toggle-nav .site-nav ul li {
        display: block;
        text-align: center;
    }
    
    .toggle-nav .site-nav ul li a {
        transition: .2s all ease-out;
    }
    
    .toggle-nav .site-nav ul li a:hover {
        background: navy;
        color: seashell
    }

}

/* Custom UI Designs */
.ui-designs {
    text-align: center;
}
.ui-designs img {
    max-width: 200px;
}